<extend name="Index:app" />
<block name="css">

</block>
<block name="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">报名管理</h3>
                    <form class="form-inline" action="{:U('Wan/baoming')}" method="get">
                        <div class="input-group input-group-sm">
                            <select class="form-control" id="type" name="type">
                                <option value="">请选择参与类型</option>
                                <option value="1">免费仅限会员参与</option>
                                <option value="2">会员非会员均可参加</option>
                                <option value="3">仅会员可参加</option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm">
                            <select class="form-control" id="pay_state" name="pay_state">
                                <option value="">请选择是否支付</option>
                                <option value="0">未支付</option>
                                <option value="1">已支付</option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm">
                        		<input type="text"  placeholder="请输入手机号"  id="ming" name="ming" value="{$ming}" class="form-control">
                        </div>
                        <div class="input-group input-group-sm">
                        		<input type="text"  placeholder="请选择开始时间"  id="kaitime" name="kaitime" value="{$kaitime}" class="form-control">
                        </div>
                        <div class="input-group input-group-sm">
                        		<input type="text"  placeholder="请选择结束时间"  id="endtime" name="endtime" value="{$endtime}" class="form-control">
                        </div>
                        <input type="submit"  value="搜索" class="btn btn-primary btn-sm">
                        <a href="{:U('Wan/export', ['type' => $type, 'pay_state' => $pay_state, 'ming' => $ming, 'kaitime'=>$kaitime,'endtime'=>$endtime])}" class="btn btn-default btn-sm">
                        		<i class="fa fa-cloud-download"></i>&nbsp;&nbsp;导出报表
                        </a>
                    </form>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" action="{:U('ProductManagement/deleteAll')}" method="post" enctype="multipart/form-data" id="r_list">
                <div class="box-body table-responsive no-padding" >
                    <table class="table table-hover">
                        <tr>
                            <th>订单号</th>
                            <th>活动名称</th>
                            <th>数量</th>
                            <th>金额</th>
                            <th>用户姓名</th>
                            <th>手机号</th>
                            <th>支付状态</th>
                            <th>添加时间</th>
                            <th>操作功能</th>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.paysn}</td>
                                <td>
                                    <empty name="$vo.title">
                                        {$vo.hd.title}
                                    <else />
                                        {$vo.title}
                                    </empty>
                                </td>
                                <th>{$vo.number}</th>
                                <td>
                                    <if condition="$vo['hd']['type'] eq 1"> <!-- 是否为免费活动 -->
                                        免费
                                    <else />
                                        {$vo.money}
                                    </if>
                                </td>
                                <td>{$vo.name}</td>
                                <td>{$vo.phone}</td>
                                <td>
                                    <if condition="$vo['hd']['type'] eq 1"> <!-- 是否为免费活动 -->
                                        免费
                                    <else />
                                        <if condition="$vo['pay_state'] eq 1"> <!-- 是否已支付 -->
                                            已支付
                                        <else />
                                            未支付
                                        </if>
                                    </if>
                                </td>
                                <td>{:date('Y-m-d H:i:s', $vo['add_time'])}</td>
                                <td>
                                    <div class="btn btn-primary btn-xs  mo" ids="{$vo.id}" data-toggle="modal" data-target="#myModal" >删除</div>   
                                    <!-- <input type="checkbox" name="{$vo.art_id}" value="{$vo.art_id}" id="checkbox"/> -->
                                </td>
                            </tr>
                        </volist>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix" style="text-align: center;">
                    <ul class="pagination pagination-sm no-margin">
                        {$show}
                    </ul>
                    <!-- <div class="form-group">
                    <a href="javascript:checkbox_all();" class="btn btn-primary btn-xs">全选</a>&nbsp;<a href="javascript:checkbox_none();" class="btn btn-primary btn-xs">取消全选</a>
                    <input type="submit" id="btn1" value="删除"class="btn btn-primary btn-xs"/>
                    </div> -->
                </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <form class="form-horizontal" action="{:U('Wan/deleteBm')}" method="post" enctype="multipart/form-data">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							提示框
						</h4>
					</div>
					<div class="modal-body">
						确定删除此报名信息？
					</div>
					<input type="hidden" name="id" id="artse" value="">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit"  class="btn btn-primary">
							删除
						</button>
					</div>
				</div>
			</div>
		</div>
    
      </form>
</block>
<block name="js">
    <script>
			//执行一个laydate实例
			laydate.render({
				elem: '#kaitime',
				type: 'datetime'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#endtime',
				type: 'datetime'
			});
			
			
			
        $("#type").val('{$type}');
        $("#pay_state").val('{$pay_state}');
    	 $(".mo").click(function(){
    	 	  var num=$(this).attr('ids');
    	 	 $("#artse").val(num);
    	 })

        function checkbox_all(){
            $('#r_list :checkbox').each(function(){
                if(!$(this).is(':checked'))
                {
                    $(this).click();
                    $('#r_list :checkbox').attr('checked',true);
                }
            });
        }

        function checkbox_none(){
            $('#r_list :checkbox').each(function(){
                if($(this).is(':checked'))
                {
                    $(this).click();
                }
            });
        }
    </script>
    
    

</block>

