<extend name="Index:app" />
<block name="css">
   <include file="public/comm" />
</block>
<block name="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="padding-bottom:50px">
                <div class="box-header">
                    <!--<h3 class="box-title">产品属性添加</h3>-->
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" action="{:U('point/deliverDo')}" method="post" enctype="multipart/form-data" id="r_list">
                	<div class="ga">
                		<input hidden name="id" value="{$info.id}">
                	<div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">订单号</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control"  readonly="readonly"  name="paysn" value="{$info.paysn}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">收货人</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control"  readonly="readonly"  id="shipin" name="user" value="{$info.consignee}" >
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">联系电话</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control"  readonly="readonly"  id="dianhua" name="dianhua"  value="{$info.mobile}">
                        </div>
                       
                    </div>
                    
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">收货地址</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control"  readonly="readonly"  id="dizhi" name="dizhi" value="{$info.address}" >
                        </div>
                       
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">快递公司</label>
                            <div class="col-sm-6">
                               
                                <select class="form-control" style="width:30%;"   name="wuliu_gongsi">
                                   
                                    
                                        <option value="中通速递">中通速递 </option>
                                        <option value="京东快递">京东快递 </option>
                                        <option value="顺丰快递">顺丰快递 </option>
                                        <option value="申通快递">申通快递 </option>
                                        <option value="圆通速递">圆通速递 </option>
                                        <option value="百世汇通">百世汇通 </option>
                                         <option value="韵达快递">韵达快递 </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">物流单号</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="wuliudan" >
                        </div>
                       
                    </div>
                   
                    </div>
                </form>
                    <!--<div class="form-group">
	                    <div class="col-sm-6">
	                        <div class="" style="width:60px;height:30px;color:#fff;font-size:16px;text-align:center;line-height: 30px;margin:3px auto;background: #3C8DBC;border-radius: 3px;">
	                	新增
	                		</div>
	                    </div>
	                </div>-->
                     <div class="box-footer">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                           
                             <button onclick="deliver()" class="btn btn-primary">发&nbsp;&nbsp;货</button>
                        </div>

                    </div>
                    

                
            </div>
            <!-- /.box -->
        </div>
    </div>
</block>
<block name="js">

    <script>
        // layer.msg('haha')

        function deliver(){
            if($("input[name='wuliudan']").val() == ''){
                layer.msg('请输入物流单号')
                return;
            }
            var index = layer.load()
            $.ajax({
                url:"{:U('point/deliverDo')}",
                type:'post',
                data:$('form').serialize(),
                success:function (data) {
                    layer.close(index)
                    if(data.state == 1){
                        layer.msg(data.info,{anim:5},function (rs) {
                            location.href = "{:U('point/orderList_fh')}"
                        })
                    }else{
                        layer.msg(data.info)
                    }
                }
            })

        }


        function checkbox_all()
        {
            $('#r_list :checkbox').each(function(){
                if(!$(this).is(':checked'))
                {
                    $(this).click();
                    $('#r_list :checkbox').attr('checked',true);
                }
            });
        }
        function checkbox_none()
        {
            $('#r_list :checkbox').each(function(){
                if($(this).is(':checked'))
                {
                    $(this).click();
                }
            });
        }
        var n = 1;
        var dele = $(".delebox")
        $('.g-add').click(function(){
$('.delebox').clone().appendTo('.ga').show().removeClass('delebox').find('input').attr('name','user'+n);
        n++;
        })
        $('.form-horizontal').on('click','.g-dele',function(){
        	$(this).parent($('.form-group')).remove()
        })
        
        
    </script>
</block>
