<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>忒666</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/xin/css/index.css" />
		<script src="__PUBLIC__/xin/js/rem.js"></script>
	</head>

	<body>
<include file="Include/right" />
		
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
			<!--菜单部分-->
			<include file="Include/left" />
			<!--主体-->
			<div class="mui-inner-wrap">
				<!--header-->
				<header class="mui-bar mui-bar-nav zt-header">
					<!---->
					<a href="{:U('Home/Xin/index')}" class="mui-pull-left"><img class="header-list_img" src="__PUBLIC__/xin/images/logo-icon.png" /></a>
					<a id="offCanvasBtn" href="#offCanvasSide" class="mui-pull-right"><img src="__PUBLIC__/xin/images/cd-icon.png" alt="" /></a>
					<h1 class="mui-title header-list_txt">
						节目
					</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">

						<!--896汽车加速度-->
						<!--<div class="mk-box">
							<div class="mk-title border0">
								<span>《896汽车加速度》</span>
								<a href="{:U('Home/Jm/qcjsd')}"><span class="float-r color-666 mk-gd_btn">查看更多&nbsp; ></span></a>
							</div>
							<a href="{:U('Home/Jm/qcjsd')}">
								<div class="mk-showbox">
									<div class="ytx-list-box">
										<div class="ytx-list-img"><img src="/Public/Uploads/Cate/{$qi.cate_img_url}" alt="" /></div>
										<div class="ytx-list-txt">
											<div class="yxt-list-name">
												主持人：马大帅 周一至周日16:00-17:00
											</div>
											<div class="ytx-list-show">节目简介：关注汽车文化、汽车后市场，包括汽车维修、</div>
										</div>
									</div>
								</div>
							</a>
						</div>-->
						<!--老马识途-->
						<!--<div class="mk-box">
							<div class="mk-title border0">
								<span>《老马识途》</span>
								<a href="{:U('Home/Jm/lmst')}"><span class="float-r color-666 mk-gd_btn">查看更多&nbsp; ></span></a>
							</div>
							<a href="{:U('Home/Jm/lmst')}">
								<div class="mk-showbox">
									<div class="ytx-list-box">
										<div class="ytx-list-img"><img src="/Public/Uploads/Cate/{$ma.cate_img_url}" alt="" /></div>
										<div class="ytx-list-txt">
											<div class="yxt-list-name">
												主持人：马大帅 周一至周日16:00-17:00
											</div>
											<div class="ytx-list-show">节目简介：关注汽车文化、汽车后市场，包括汽车维修、</div>
										</div>
									</div>
								</div>
							</a>
						</div>-->
						<!--精彩活动-->
						<div class="mk-box">
							<div class="mk-title border0">
								<span>精彩活动</span>
								<a href="{:U('Home/Jm/jchd')}"><span class="float-r color-666 mk-gd_btn">查看更多&nbsp; ></span></a>
							</div>
							<a href="{:U('Home/Jm/jchd')}">
								<div class="mk-showbox">
									<div class="ytx-list-box">
										<div class="ytx-list-img"><img src="/Public/Uploads/Cate/{$huo.cate_img_url}" alt="" /></div>
										<div class="ytx-list-txt">
											<div class="yxt-list-name">
												主持人：马大帅 周一至周日16:00-17:00
											</div>
											<div class="ytx-list-show">节目简介：关注汽车文化、汽车后市场，包括汽车维修、</div>
										</div>
									</div>
								</div>
							</a>
						</div>

						<!--	footer-->
                        <include file="Include/footer" />
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="__PUBLIC__/xin/js/mui.min.js"></script>
		<script src="__PUBLIC__/xin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/xin/js/swiper.min.js"></script>
		<script src="__PUBLIC__/xin/js/index.js"></script>
		<script>
		</script>
	</body>

</html>