<extend name="Index:app" />
<block name="css">
   
</block>
<block name="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">修改密码</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="{:U('User/chengecl')}" method="post" enctype="multipart/form-data">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label for="pass_old" class="col-sm-2 control-label">原始密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="pass_old"  name="pass_old" placeholder="原始密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass_new" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="pass_new"  name="pass_new" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass_new2" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="pass_new2" name="pass_new2" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
                        </div>

                    </div>
                    <!-- /.box-footer -->

            </div>
            <!-- /.box-body -->

            </form>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->

        <!-- /.box -->
    </div>
    </div>
</block>
<block name="js">
    <script>

    </script>
</block>
