<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>忒666</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/xin/css/index.css" />
		<script src="__PUBLIC__/xin/js/rem.js"></script>
	</head>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
		}
		
		.mui-input-row input {
			background: transparent;
			border: 1px solid #fff;
			color: #fff;
		}
		
		input::-webkit-input-placeholder {
			color: #f4f4f4;
		}
		
		.mui-input-row .mui-input-clear~.mui-icon-clear.mui-active,
		.mui-input-row .mui-input-password~.mui-icon-eye.mui-active,
		.mui-input-row .mui-input-speech~.mui-icon-speech.mui-active {
			color: #fff
		}
	</style>

	<body>
		<div class="login-box">
			<div class='login-logo'>
				<img src="__PUBLIC__/xin/images/login-logo.png" alt="" />
			</div>
			<div class="login-inputbox">
				<!--input-->
				<div class="login-input">
					<div class="mui-input-row">
						<input type="number" placeholder="手机" />
					</div>
				</div>
				<div class="login-input">
					<div class="mui-input-row mui-password">
						<input type="password" class="mui-input-password" placeholder="密码">
					</div>
				</div>
				<!--btn-->
				<div class="login-btnbox">
					<a href="{:U('Home/Index/index')}"><button class="login-btn" type="button">登 录</button></a>
				</div>
				<!--txt-->
				<div class="login-txtbox">
					<a href="zc.html"><span class="login-txt">注册</span></a>&nbsp;&nbsp;&nbsp;
					<a href="wjmm.html"><span class="login-txt">忘记密码？</span></a>
				</div>
			</div>
		</div>
	</body>
	<style>

	</style>
	<script src="__PUBLIC__/xin/js/mui.min.js"></script>
	<script src="__PUBLIC__/xin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/xin/js/swiper.min.js"></script>
	<script src="__PUBLIC__/xin/js/index.js"></script>

</html>