<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>忒666</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/xin/css/index.css" />
		<script src="__PUBLIC__/xin/js/rem.js"></script>
	</head>
	<style>
		#offCanvasWrapper .mui-content {
			background: #fff;
		}
	</style>

	<body>
		<include file="Include/right"/>
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
			<!--菜单部分-->
			<include file="Include/left" />
			<!--主体-->
			<div class="mui-inner-wrap">
				<!--header-->
				<header class="mui-bar mui-bar-nav zt-header">
					<!---->
					<a href="{:U('Home/Index/index')}" class="mui-pull-left"><img class="header-list_img" src="__PUBLIC__/xin/images/logo-icon.png" /></a>
					<a id="offCanvasBtn" href="#offCanvasSide" class="mui-pull-right"><img src="__PUBLIC__/xin/images/cd-icon.png" alt="" /></a>
					<h1 class="mui-title header-list_txt">
						发布评论
					</h1>
				</header>
				 <form  id="form1" action="{:U('Home/Tourism/addcl')}" method="post" enctype="multipart/form-data">
					<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
						
							<div class="mui-scroll">
								<div class="fbpl-box">
									<div class="fbpl-title">整体评价</div>
									<div class="fbpl-xxbox">
										<img class="fbpl-img" src="__PUBLIC__/xin/images/fbpl-xx2.png" alt="" />
										<img class="fbpl-img" src="__PUBLIC__/xin/images/fbpl-xx.png" alt="" />
										<img class="fbpl-img" src="__PUBLIC__/xin/images/fbpl-xx.png" alt="" />
										<img class="fbpl-img" src="__PUBLIC__/xin/images/fbpl-xx.png" alt="" />
										<img class="fbpl-img" src="__PUBLIC__/xin/images/fbpl-xx.png" alt="" />
									</div>
									<input type="text" hidden name="xing" id="xing" value="">
									<input type="text" hidden name="art_id" id="art_id" value="{$ids}">
									<div class="fbpl-title">评价内容</div>
									<div class="fbpl-text">
										<textarea name="text" placeholder="请输入评价内容"></textarea>
									</div>
									<div class="cpxq-pl-wu_fb btn-op" id="ji" >
										提交评论
									</div>
								</div>
			
							</div>
						
					</div>
				  </form>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
				<div class="cpxq-bom_box flex-s">
					<div class="cpxq-bom_left">
						<a href="{:U('Home/Tourism/ytx_cpxq',array('id'=>$ids))}">
							<div class="cpxq-bom_list">
								<div class="cpxq-bom_img"><img src="__PUBLIC__/xin/images/xq-xx-icon.png" alt="" /></div>
								<div class="cpxq-bom_name">纵览</div>
							</div>
						</a>
						<a href="{:U('Home/Tourism/ytx_cpxq_sysm',array('id'=>$ids))}">
							<div class="cpxq-bom_list">
								<div class="cpxq-bom_img"><img src="__PUBLIC__/xin/images/xq-fysm-icon.png" alt="" /></div>
								<div class="cpxq-bom_name">费用说明</div>
							</div>
						</a>
						<a href="{:U('Home/Tourism/ytx_cpxq_xc',array('id'=>$ids))}">
							<div class="cpxq-bom_list">
								<div class="cpxq-bom_img"><img src="__PUBLIC__/xin/images/xq-xc-icon.png" alt="" /></div>
								<div class="cpxq-bom_name">行程</div>
							</div>
						</a>
						<a href="{:U('Home/Tourism/ytx_cpxq_pl',array('id'=>$ids))}">
							<div class="cpxq-bom_list active">
								<div class="cpxq-bom_img"><img src="__PUBLIC__/xin/images/xq-pl-icon2.png" alt="" /></div>
								<div class="cpxq-bom_name">评论</div>
								<div class="cpxq-bom_active"><img src="__PUBLIC__/xin/images/coxq-bom_active.png" alt="" /></div>
							</div>
						</a>
					</div>
					<a href="{:U('Home/Tourism/ytx_tjxx',array('id'=>$ids))}">
						<div class="cpxq-bom_right">立即购买</div>
					</a>
				</div>
			</div>
		</div>
		<script src="__PUBLIC__/xin/js/mui.min.js"></script>
		<script src="__PUBLIC__/xin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/xin/js/swiper.min.js"></script>
		<script src="__PUBLIC__/xin/ckplayer/ckplayer.min.js"></script>
		<script src="__PUBLIC__/xin/js/index.js"></script>
	</body>

</html>

<script>
	//发布评论 星星
mui('body').on('tap', '.fbpl-img', function() {
	var num=$(this).index();
	  
	$('.fbpl-img').attr('src','__PUBLIC__/xin/images/fbpl-xx.png');
	for(var i=0;i<=num;i++){
		$('.fbpl-img').eq(i).attr('src','__PUBLIC__/xin/images/fbpl-xx2.png');
	}
	 nun=num+1;
	$("#xing").val(nun);
});

mui('body').on('tap', '#ji', function(event){
  
   $("#form1").submit();
   
});


//function ti(){
//	$("#form1").submit();
//}


</script>