<extend name="Index:app" />
<block name="title"><title>忒666-供应商管理系统</title></block>

<block name="content">
	<div class="row">
	    <div class="col-md-12">
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <h3 class="box-title">欢迎使用忒666供应商管理系统</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body no-padding text-center" style="text-align: center;">
	            	<h3 class="box-title">客服热线：400-999-0049</h3>
	            	<img src="__PUBLIC__/houtai/huanying.png" style="margin: 50px auto;">
	            </div>
	        </div>
	        <!-- /. box -->
	   	</div>
	</div>
</block>