<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>忒666</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/xin/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/xin/css/jfall.css" />
		<script src="__PUBLIC__/xin/js/rem.js"></script>
	</head>

	<body>
<include file="Include/right" />
		<header class="mui-bar mui-bar-nav">

			<a href="javascript:history.back(-1)" class="mui-pull-left ss-togbtn"><img class="tb_img" src="__PUBLIC__/xin/images/back.png"></a>
			<h1 class="mui-title" style="color: black;">
					积分不足
			</h1>
		</header>
		
		<div class="jf_center">
			<div class="jf_txt" style="color: black;">
				您当前的<span style="color:#f35403;">积分不足</span>
			</div>
			<div class="jf_bz">
				<img class="liwus" src="__PUBLIC__/xin/images/jf_buzu.png" />
			</div>
			<div class="jf_tz" style="margin-top:0.2rem;">
				<span>现有积分:{$jifen}</span>
				<span>所需积分:{$zong}</span>
			</div>
			<div class="jf_btn jf_a " onclick="location.href='{:U('Huiyuan/vipindex')}'" style="margin-top: 10%;">
				赚取积分
			</div>
			<div onclick="location.href='{:U('xin/index')}'" class="jf_btn jf_b">
				返回首页
			</div>
		</div>
		<script src="__PUBLIC__/xin/js/mui.min.js"></script>
		<script src="__PUBLIC__/xin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/xin/js/swiper.min.js"></script>
		<script src="ckplayer/ckplayer.min.js"></script>
		<script src="__PUBLIC__/xin/js/index.js"></script>
	</body>

</html>