<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>忒666</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/xin/css/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/xin/css/index.css" />
		<script src="__PUBLIC__/xin/js/rem.js"></script>
		<style type="text/css">
			.jitxt {
				padding-left: 0.2rem;
				border-left: 2px solid #334f88;
			}
			.map-topa {
				margin-top: 2.5rem;
			}   
			.mk-box{
				margin-top: 0.2rem;
			}
			.cide-num{
				margin-top:0.2rem;
			}
			.vpshop-cide{
				top:2%;
			}
		</style>
	</head>

	<body>
<include file="Include/right" />
		
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
			<!--菜单部分-->
			<include file="Include/left" />
			<!--主体-->
			<div class="mui-inner-wrap">
				<!--header-->
				<header class="mui-bar mui-bar-nav zt-header">
					<!---->
					<a href="{:U('Home/Xin/index')}" class="mui-pull-left"><img class="header-list_img" src="__PUBLIC__/xin/images/logo-icon.png" /></a>
					<a id="offCanvasBtn" href="#offCanvasSide" class="mui-pull-right"><img src="__PUBLIC__/xin/images/cd-icon.png" alt="" /></a>
					<h1 class="mui-title header-list_txt">
						积分商城
					</h1>
				</header>
				<!--<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">-->
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">

					<div class="mui-scroll">
						<div class="vpshop-bgm">

						</div>

						<div class="vpshop-cide">
							<div class="vpshop-cides">
								<span class="isvip">
									忒66会员
								</span>
								<div class="cide_img">
									<img class="img_size" src="{$user.img}"/>
								</div>
								<div class="cide-name name-size">
									会员名: <span>{$user.sename}</span>
								</div>	
								<div class="cide-name time-size">
									会员将于{$user.type_endtime}到期
								</div>
								<div class="cide-num">
									<div class="num-txt">
										会员编号: <span>
											{$user.number}
										</span>
									</div>
										<div class="pay-vip" id="xifei">
										立即续费
									  </div>
								</div>
							</div>
						</div>

						<div class="vpshop-user">
							<div class="mk-title border0 map-topa">
								<span class="jitxt">积分</span>
								<div class="jifen-num">
									我的积分: <span style="color:#d3894d;">{$user.jifen}</span>
								</div>
								<div class="jifen-tishi">
									{$user.jifen}积分将于2018年12月31日清零
								</div>
							</div>
							
						</div>

						<!--汽车装饰-->
						<div class="mk-box">
							<div class="mk-title border0">
								<span class="jitxt">积分兑换</span>
							</div>
							<div class="mk-showbox">
								<div class="tj-box">
									<volist name="pointGoods" id="vo">
									<a href="{:U('jifen/jifenInfo',array('id'=>$vo['art_id']))}">
										<div class="tj-list">
											<div class="tj-img"><img src="{$vo.art_img_url}" alt="" /></div>
											<div class="tj-txt">
												<div class="tj-name">{$vo.product_title}</div>
												<div class="tj-fir">
													<span class="tj-fir-red">积分：{$vo.price}</span>
													<span class="cpxq-fir_333 jf_fir_333">商城价：{$vo.price_shop}</span>
												</div>
											</div>
										</div>
									</a>
									</volist>

								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="__PUBLIC__/xin/js/mui.min.js"></script>
		<script src="__PUBLIC__/xin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/xin/js/swiper.min.js"></script>
		<script src="__PUBLIC__/xin/js/index.js"></script>
		<script>
			//banner
			var swiper1 = new Swiper('.swiper-container1', {
				pagination: '.swiper-pagination1',
				paginationClickable: true,
				loop: true,
				autoplay: 2000
			});
			$('#xifei').click(function(){
				window.location.href='ktvip.html'
			})
		</script>
	</body>

</html>