<extend name="Index:app" />
<block name="css">
   
</block>
<block name="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">图片编辑</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="{:U('PictureManagement/editHandle')}" method="post" enctype="multipart/form-data">
                  
                    <input type="hidden" id="id" name="id"  value="{$picture.id}">
                    

                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">上传图片</label>

                        <div class="col-sm-6" style="margin-top: 5px">
                            <input type="file" id="picture" name="picture">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">链接地址</label>
                        <div class="col-sm-6" style="margin-top: 5px">
                            <input class="form-control" type="text" id="url" name="url" value="{$picture.url}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">文章标题</label>
                        <div class="col-sm-6" style="margin-top: 5px">
                            <input class="form-control" type="text" id="title" name="title" value="{$picture.title}">
                        </div>
                    </div>
                    <div class="form-group">
						<label for="content" class="col-sm-2 control-label">详情</label>
						<div class="col-sm-9">
							<textarea id="editor_id" name="content" style="height: 500px; width: 100%;">{$picture.content}</textarea>
						</div>
					</div>   
                    
                   
                        
            <div class="box-footer">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
                </div>

            </div>
            <!-- /.box-footer -->
            </form>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->

            <!-- /.box -->
        </div>
        </div>
</block>
<block name="js">
    <script>

    </script>
</block>

