<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="left_menu">
            <li class="header"></li>

            <volist name="menu_list" id="vo">

                    <?php
                     if($vo['actived']==1){
                     ?>
            <li class="treeview active">
            <?php
                    }else{
                    ?>
            <li class="treeview">
                <?php
                    }
                    ?>
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>{$vo['text']}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <volist name="vo['child']" id="sub">
                        <?php
                        if($sub['actived']==1) {
                        ?>
                        <li class="active">
                            <?php
                        }else{
                        ?>
                        <li>
                            <?php
                        }
                        ?>
                            <a href="{:U($sub['url'])}"><i class="fa fa-circle-o"></i>{$sub.text}</a></li>
                    </volist>
                </ul>
            </li>

            </volist>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>




<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="left_menu">
            <li class="header"></li>

                        <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>用户管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Yonghu/index.html"><i class="fa fa-circle-o"></i>会员用户列表</a></li>                        <li>
                                                        <a href="/index.php/Admin/Yonghu/putong.html"><i class="fa fa-circle-o"></i>普通用户列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>营销管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/yingxiao/xianshi.html"><i class="fa fa-circle-o"></i>限时购</a></li>                        <li>
                                                        <a href="/index.php/Admin/yingxiao/miaosha.html"><i class="fa fa-circle-o"></i>整点秒杀</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>图片管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/PictureManagement/tupian.html"><i class="fa fa-circle-o"></i>图片列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>门店管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Mendian/index.html"><i class="fa fa-circle-o"></i>门店列表</a></li>                        <li>
                                                        <a href="/index.php/Admin/Mendian/dingdan.html"><i class="fa fa-circle-o"></i>门店订单</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>订单列表</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/BrandManagement/index.html"><i class="fa fa-circle-o"></i>旅游订单</a></li>                        <li>
                                                        <a href="/index.php/Admin/BrandManagement/qiche_index.html"><i class="fa fa-circle-o"></i>汽车订单</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>物流管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/CasesManagement/index.html"><i class="fa fa-circle-o"></i>物流发货</a></li>                        <li>
                                                        <a href="/index.php/Admin/CasesManagement/cha.html"><i class="fa fa-circle-o"></i>订单查询</a></li>                        <li>
                                                        <a href="/index.php/Admin/CasesManagement/shouhuo.html"><i class="fa fa-circle-o"></i>收货订单</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>退款管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/PictureManagement/index.html"><i class="fa fa-circle-o"></i>退款列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>供应商管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Log/gongyin.html"><i class="fa fa-circle-o"></i>旅游供应商</a></li>                        <li>
                                                        <a href="/index.php/Admin/Log/gongyin_che.html"><i class="fa fa-circle-o"></i>车管家供应商</a></li>                        <li>
                                                        <a href="/index.php/Admin/Log/gongyin_qi.html"><i class="fa fa-circle-o"></i>其他供应商</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>服务商管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Fuwu/fuwu_ly.html"><i class="fa fa-circle-o"></i>旅游服务商</a></li>                        <li>
                                                        <a href="/index.php/Admin/Fuwu/fuwu_che.html"><i class="fa fa-circle-o"></i>车管家服务商</a></li>                        <li>
                                                        <a href="/index.php/Admin/Fuwu/fuwu_qi.html"><i class="fa fa-circle-o"></i>其他服务商</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>公司产品</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/productManagement/index.html"><i class="fa fa-circle-o"></i>旅游产品管理</a></li>                        <li>
                                                        <a href="/index.php/Admin/productManagement/index_che.html"><i class="fa fa-circle-o"></i>车产品管理</a></li>                        <li>
                                                        <a href="/index.php/Admin/Links/qita_index.html"><i class="fa fa-circle-o"></i>其他产品管理</a></li>                        <li>
                                                        <a href="/index.php/Admin/Tui/index.html"><i class="fa fa-circle-o"></i>热卖/推荐商品</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>积分商城</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/point/goodsList.html"><i class="fa fa-circle-o"></i>积分商品</a></li>                        <li>
                                                        <a href="/index.php/Admin/point/orderList.html"><i class="fa fa-circle-o"></i>订单列表</a></li>                        <li>
                                                        <a href="/index.php/Admin/point/orderList_fh.html"><i class="fa fa-circle-o"></i>物流发货</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>私人订制</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Links/siren.html"><i class="fa fa-circle-o"></i>订制列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>节目管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Links/jiemu_index.html"><i class="fa fa-circle-o"></i>节目列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>评论管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Message/index.html"><i class="fa fa-circle-o"></i>评论列表</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>关于我们</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Message/guanyu.html"><i class="fa fa-circle-o"></i>关于我们</a></li>                        <li>
                                                        <a href="/index.php/Admin/changjian/index.html"><i class="fa fa-circle-o"></i>常见问题</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>财务管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Log/lvyou_index.html"><i class="fa fa-circle-o"></i>旅游订单</a></li>                        <li>
                                                        <a href="/index.php/Admin/Log/che_index.html"><i class="fa fa-circle-o"></i>汽车订单</a></li>                        <li>
                                                        <a href="/index.php/Admin/Log/tui_index.html"><i class="fa fa-circle-o"></i>退款订单</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>分类管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/Cate/cateList.html"><i class="fa fa-circle-o"></i>分类管理</a></li>                </ul>
            </li>            <li class="treeview">
                                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>系统设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                                            <li>
                                                        <a href="/index.php/Admin/User/index.html"><i class="fa fa-circle-o"></i>用户管理</a></li>                        <li>
                                                        <a href="/index.php/Admin/Log/index.html"><i class="fa fa-circle-o"></i>登录日志</a></li>                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
