
<div class="mk-box" style="margin:0;">

<!--<a target="_blank" href="https://cschat-ccs.aliyun.com/index.htm?tntInstId=_10NXB9M&scene=SCE00002957" class="tosee">

</a>-->
<!--<script type="text/javascript" charset="utf-8"
    src="https://gw.alipayobjects.com/os/rmsportal/xsxusXNIcXwiGqtNiyOd.js"
    chat_url="https://cschat-ccs.aliyun.com/index.htm"
    logo_src="__PUBLIC__/kufu.png"
    logo_position="rb"
    tntInstId="_10NXB9M&scene=SCE00002957">
</script>-->

	<div class="mk-title border0">
		<span>合作企业</span>
	</div>
	<div class="mk-showbox">
		<div class="hz-box">
			<!--品牌-->
			<div class="hz-pingpai all_flex">
				<volist name="hz" id="vo">
					<a href="{:U('Home/Xin/hezuoqiye',array('id'=>$vo['id']))}">
						<div class="hz-pipai_img"><img src="{$vo.logo}" alt="" /></div>
					</a>
				</volist>

			</div>
			<!--二维码-->
			<div class="ewm-box flex-s">
				<!--<div class="ewm-list">
					<div class="ewm-img"><img src="__PUBLIC__/xin/images/ewm1.jpg" alt="" /></div>
					<div class="emw-txt">订阅号</div>
				</div>-->
				<div class="ewm-list" style="margin: 0 auto;width: 3rem; ">
					<div class="ewm-img" style="width: 1.8rem; overflow: hidden;margin: 0 auto;"><img src="__PUBLIC__/xin/images/ewm2.jpg" alt="" /></div>
					<div class="emw-txt" style="text-align: center;">关注我们领取福利</div>
				</div>

			</div>

			<!--热线-->
			<div class="tel-box">
				<div class="font-size30 color-333">服务热线：400-999-0049</div>
				<div class="font-size30 color-333">广告合作：029-8860-1160</div>
				<div class="font-size24 color-666">陕ICP备17015458号-2</div>
			</div>
			
		</div>
	</div>
</div>
