<extend name="Index:app" />
<block name="title"><title>后台管理系统-添加</title></block>

<style type="text/css">
        .img-item {
            width: 80px!important;
            height: 80px!important;
            background: white;
            text-align: center;
            line-height: 75px;
            margin-right:15px;
            margin-top:15px;
            font-size: 30px;
            cursor: pointer;
            border:1px solid #ccc;
        }
    </style>
  
<block name="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">添加整点秒杀</h3>
        
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="{:U('yingxiao/miao_addcl')}" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label for="art_title" class="col-sm-2 control-label">专场名称</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="art_title" name="art_title" placeholder="专场名称">
                            <small>格式：时:分（16:00）</small>
                        </div>
                    </div>
										<div class="form-group">
												<label for="art_title" class="col-sm-2 control-label">专场备注</label>

												<div class="col-sm-6">
														<input type="text" class="form-control" id="beizhu" name="beizhu" placeholder="专场备注">
														
												</div>
										</div>
                    <div class="form-group">
                        <label for="art_dianhua" class="col-sm-2 control-label">开始时间</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ktime" name="ktime" placeholder="开始时间">
                        </div>
                    </div>
                  
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                        	 <input id="ajaxfileupload" type="file" style="display:none;">
                            <button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
                        </div>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
          
        </div>
    </div>
</block>

<block name="js">
	<script>
		laydate.render({
			elem: '#ktime',
			type: 'datetime'
		});
		
		
		
		
		
	</script>
	
	
</block>



