<extend name="Index:app" />
<block name="css">

</block>
<block name="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                  
                    <div class="box-tools">
                        <div class="input-group input-group-sm" >

                        </div>
                    </div>
                </div>
                <form class="form-horizontal" action="{:U('BrandManagement/baoxian_index')}" method="post" enctype="multipart/form-data" style="width:45%;display: inline-block;">
                    <div class="box-header">
                        <h3 class="box-title">订单列表</h3>
                        <select name="select1" id="selct1" style="margin-left:140px;width:150px;font-size:16px;">
                        	<option value=""></option>
                        	<option value="1">未付款</option>
                        	<option value="2">未发货</option>
                        	<option value="3"> 未发货 / 待退款</option>
                        	<option value="4">未发货 / 已退款</option>
                        	<option value="5">已发货 </option>
                        	<option value="6">已发货/ 待退款 </option>
                        	<option value="7">已发货/ 已退款 </option>
                        	<option value="8">已完成 </option>
                        	
                        </select>
                        <input type="submit"  value="搜索"/ class="btn btn-primary btn-xs" style="margin-top:-5px">
                    </div>
                </form>
                <form class="form-horizontal" action="{:U('BrandManagement/baoxian_index')}" method="post" enctype="multipart/form-data" style="width:45%;display: inline-block;">
                    <div class="box-header">
                          <input type="text"  placeholder="请输入下单人电话"  id="ming" name="ming"  style="margin-left:90px;width:150px;font-size:16px;" >
                           <input type="submit"  value="搜索"/ class="btn btn-primary btn-xs" style="margin-top:-5px">
                    </div>
                </form>
             
                <div class="box-body table-responsive no-padding" >
                    <table class="table table-hover">
                        <tr>
                            <th>订单编号</th>
                            <th>产品名称</th>
                             <th>价格</th>
                            <th>下单人电话</th>
                             <th>下单人</th>
                            <th>状态</th>
                            <th>下单时间</th>
                            <th>支付时间</th>
                             <th>操作</th>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.paysn}</td>
                                <th>{$vo.name}</th>
                                 <th>{$vo.jiage}</th>
                                 <td>{$vo.ren}</td>
                                  <td>{$vo.username}</td>
                                <td>
                                	<if condition="($vo.ster eq 0) and ($vo.tuikuan eq 0) ">
                                		未付款
                                	</if>
                                	<if condition="($vo.ster eq 1) and ($vo.tuikuan eq 0) ">
                                		未发货
                                	</if>
                                	<if condition="($vo.ster eq 1) and ($vo.tuikuan eq 1 )">
                                	  未发货 / 待退款
                                	</if>
                                	<if condition="($vo.ster eq 1) and ($vo.tuikuan eq 2 )">
                                	  未发货 / 已退款
                                	</if>
                                	<if condition="($vo.ster eq 2) and ($vo.tuikuan eq 0) ">
                                		已发货
                                	</if>
                                	<if condition="($vo.ster eq 2) and ($vo.tuikuan eq 1) ">
                                		已发货/ 待退款
                                	</if>
                                	<if condition="($vo.ster eq 2) and ($vo.tuikuan eq 2) ">
                                		已发货/ 已退款
                                	</if>
                                	<if condition="$vo.ster eq 3">
                                		已完成
                                	</if>
                                	
                                	
                                </td>
                                 <th>{$vo.time}</th>
                                 <th>{$vo.zhifu_time}</th>
                                 <td>
                                    <a href="{:U('BrandManagement/biaoxianedit',array('id'=>$vo['id']))}" class="btn btn-primary btn-xs">编辑</a>
                                    <a href="{:U('BrandManagement/biaoxian_kan',array('id'=>$vo['id']))}" class="btn btn-primary btn-xs">查看</a>
                                  
                                </td>
                            </tr>
                        </volist>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix" style="text-align: center;">
                    <ul class="pagination pagination-sm no-margin">
                        {$page}
                    </ul>
                    
                </div>
                <!--</form>-->
            </div>
            <!-- /.box -->
        </div>
    </div>
</block>
<block name="js">
    <script>

        function checkbox_all()
        {
            $('#r_list :checkbox').each(function(){
                if(!$(this).is(':checked'))
                {
                    $(this).click();
                    $('#r_list :checkbox').attr('checked',true);
                }
            });
        }
        function checkbox_none()
        {
            $('#r_list :checkbox').each(function(){
                if($(this).is(':checked'))
                {
                    $(this).click();
                }
            });
        }
    </script>
</block>

